@*
<!DOCTYPE html>
<html lang=en class=html-category-page>
<head>
    <title>Cafe. Breakfast &amp; Brunch</title>
    <meta charset=UTF-8>
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=generator content=ShopFast>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link href=/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css rel=stylesheet>
    <link href=/Themes/DefaultClean/Content/css/styles.css rel=stylesheet>
    <body>
        <div class=ajax-loading-block-window style=display:none></div>
        <div id=dialog-notifications-success title=Notification style=display:none></div>
        <div id=dialog-notifications-error title=Error style=display:none></div>
        <div id=dialog-notifications-warning title=Warning style=display:none></div>
        <div id=bar-notification class=bar-notification-container data-close=Close></div><!--[if lte IE 8]><div style=clear:both;height:59px;text-align:center;position:relative><a href=http://www.microsoft.com/windows/internet-explorer/default.aspx target=_blank> <img src=/Themes/DefaultClean/Content/images/ie_warning.jpg height=42 width=820 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."> </a></div><![endif]-->
        <div class=master-wrapper-page>
            <div class=admin-header-links>
                <a href=/Admin class=administration>Administration</a>
                <a href=/Admin/Category/Edit/1046 class=manage-page>Manage this page</a>
            </div>
            <div class=header>
                <div class=header-upper>
                    <div class=header-selectors-wrapper>
                    </div><div class=header-links-wrapper>
                        <div class=header-links>
                            <ul>
                                <li><a href=/customer/info class=ico-account>My account</a>
                                <li><a href=/logout class=ico-logout>Log out</a>
                                <li id=topcartlink>
                                    <a href=/cart class=ico-cart>
                                        <span class=cart-label>Shopping cart</span>
                                        <span class=cart-qty>(0)</span>
                                    </a>
                            </ul>
                        </div>
                        <div id=flyout-cart class=flyout-cart>
                            <div class=mini-shopping-cart>
                                <div class=count>You have no items in your shopping cart.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=header-lower>
                    <div class=header-logo>
                        <a href="/"> <img alt="CAFE BARBERO" src=https://cafe.shopfast.net/images/thumbs/0004393.png> </a>
                    </div><div class="search-box store-search-box"><form method=get id=small-search-box-form action=/search><input type=text class=search-box-text id=small-searchterms autocomplete=off name=q placeholder="Search Store" aria-label="Search store"> <input type=submit class="button-1 search-box-button" value=Search></form></div>
                </div>
            </div>
            <div class=header-menu>
                <ul class="top-menu notmobile">
                    <li><a href=/breakfast-brunch>Breakfast &amp; Brunch </a>
                    <li><a href=/lunch-dinner>Lunch &amp; Dinner </a>
                    <li><a href=/baked-goods-desserts>Baked Goods &amp; Desserts </a>
                    <li><a href=/drinks-2>Drinks </a>
                    <li><a href=/s1>s1 </a>
                    <li><a href=/d1>d1 </a>
                    <li><a href=/cd>cd </a>
                    <li><a href=/a>a </a>
                </ul><div class=menu-toggle>Categories</div>
                <ul class="top-menu mobile">
                    <li><a href=/breakfast-brunch>Breakfast &amp; Brunch </a>
                    <li><a href=/lunch-dinner>Lunch &amp; Dinner </a>
                    <li><a href=/baked-goods-desserts>Baked Goods &amp; Desserts </a>
                    <li><a href=/drinks-2>Drinks </a>
                    <li><a href=/s1>s1 </a>
                    <li><a href=/d1>d1 </a>
                    <li><a href=/cd>cd </a>
                    <li><a href=/a>a </a>
                </ul>
            </div>
            <div class=master-wrapper-content>
                <div class=breadcrumb>

                    <ul itemscope itemtype=http://schema.org/BreadcrumbList>
                        <li>
                            <a href="/" title=Home>Home</a>
                            <span class=delimiter>/</span>
                        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><strong class=current-item itemprop=name>Breakfast &amp; Brunch</strong> <span itemprop=item itemscope itemtype=http://schema.org/Thing id=/breakfast-brunch> </span><meta itemprop=position content=1>
                    </ul>
                </div>
                <div class=master-column-wrapper>
                    <div class=side-2>
                        <div class="block block-category-navigation">
                            <div class=title>
                                <strong>Categories</strong>
                            </div>
                            <div class=listbox>
                                <ul class=list>
                                    <li class="active last"><a href=/breakfast-brunch>Breakfast &amp; Brunch </a>
                                    <li class=inactive><a href=/lunch-dinner>Lunch &amp; Dinner </a>
                                    <li class=inactive><a href=/baked-goods-desserts>Baked Goods &amp; Desserts </a>
                                    <li class=inactive><a href=/drinks-2>Drinks </a>
                                    <li class=inactive>
                                        <a href=/s1>s1 </a>
                                    <li class=inactive><a href=/d1>d1 </a>
                                    <li class=inactive><a href=/cd>cd </a>
                                    <li class=inactive><a href=/a>a </a>
                                </ul>
                            </div>
                        </div>
                        <div class="block block-poll">
                            <div class=title>
                                <strong>Community poll</strong>
                            </div>
                            <div class=listbox>
                                <div class=poll id=poll-block-1>
                                    <strong class=poll-display-text>Do you like ShopFast?</strong>
                                    <ul class=poll-results><li class=answer>Excellent (1 vote(s) - 50.0%)<li class=answer>Good (0 vote(s) - 0.0%)<li class=answer>Poor (0 vote(s) - 0.0%)<li class=answer>Very bad (1 vote(s) - 50.0%)</ul><span class=poll-total-votes>2 vote(s)...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=center-2>
                        <div class="page category-page">
                            <div class=page-title><h1>Breakfast &amp; Brunch</h1></div>
                            <div class=page-body>
                                <div class=product-selectors>
                                    <div class=product-sorting>
                                        <span>Sort by</span>
                                        <select aria-label="Select product sort order" id=products-orderby name=products-orderby onchange=setLocation(this.value)>
                                            <option selected value="https://cafe.shopfast.net/breakfast-brunch?orderby=0">Position
                                            <option value="https://cafe.shopfast.net/breakfast-brunch?orderby=5">Name: A to Z
                                            <option value="https://cafe.shopfast.net/breakfast-brunch?orderby=6">Name: Z to A
                                            <option value="https://cafe.shopfast.net/breakfast-brunch?orderby=10">Price: Low to High
                                            <option value="https://cafe.shopfast.net/breakfast-brunch?orderby=11">Price: High to Low
                                            <option value="https://cafe.shopfast.net/breakfast-brunch?orderby=15">Created on
                                        </select>
                                    </div>
                                </div><div class=product-filters></div><div class=product-grid><div class=item-grid><div class=item-box><div class=product-item data-productid=4208><div class=picture><a href=/new-mushroom-frittata title="Show details for NEW Mushroom Frittata"> <img alt="Picture of NEW Mushroom Frittata" src=https://cafe.shopfast.net/images/thumbs/0004460_new-mushroom-frittata_415.png title="Show details for NEW Mushroom Frittata"> </a></div><div class=details><h2 class=product-title><a href=/new-mushroom-frittata>NEW Mushroom Frittata</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$5.00</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4208/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4209><div class=picture><a href=/new-organic-winter-porridge title="Show details for NEW Organic Winter Porridge"> <img alt="Picture of NEW Organic Winter Porridge" src=https://cafe.shopfast.net/images/thumbs/0004412_new-organic-winter-porridge_415.jpeg title="Show details for NEW Organic Winter Porridge"> </a></div><div class=details><h2 class=product-title><a href=/new-organic-winter-porridge>NEW Organic Winter Porridge</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$6.00</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4209/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4210><div class=picture><a href=/smoked-salmon-breakfast title="Show details for Smoked Salmon Breakfast"> <img alt="Picture of Smoked Salmon Breakfast" src=https://cafe.shopfast.net/images/thumbs/0004413_smoked-salmon-breakfast_415.jpeg title="Show details for Smoked Salmon Breakfast"> </a></div><div class=details><h2 class=product-title><a href=/smoked-salmon-breakfast>Smoked Salmon Breakfast</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$8.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4210/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4211><div class=picture><a href=/skillet-eggs-with-avocado title="Show details for Skillet Eggs with Avocado"> <img alt="Picture of Skillet Eggs with Avocado" src=https://cafe.shopfast.net/images/thumbs/0004414_skillet-eggs-with-avocado_415.jpeg title="Show details for Skillet Eggs with Avocado"> </a></div><div class=details><h2 class=product-title><a href=/skillet-eggs-with-avocado>Skillet Eggs with Avocado</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$9.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4211/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4212><div class=picture><a href=/skillet-eggs-with-bacon title="Show details for Skillet Eggs with Bacon"> <img alt="Picture of Skillet Eggs with Bacon" src=https://cafe.shopfast.net/images/thumbs/0004415_skillet-eggs-with-bacon_415.jpeg title="Show details for Skillet Eggs with Bacon"> </a></div><div class=details><h2 class=product-title><a href=/skillet-eggs-with-bacon>Skillet Eggs with Bacon</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$9.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4212/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4216><div class=picture><a href=/bakers-breakfast title="Show details for Baker's Breakfast"> <img alt="Picture of Baker's Breakfast" src=https://cafe.shopfast.net/images/thumbs/0004416_bakers-breakfast_415.jpeg title="Show details for Baker's Breakfast"> </a></div><div class=details><h2 class=product-title><a href=/bakers-breakfast>Baker&#x27;s Breakfast</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$6.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4216/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4217><div class=picture><a href=/breakfast-sandwich title="Show details for Breakfast Sandwich"> <img alt="Picture of Breakfast Sandwich" src=https://cafe.shopfast.net/images/thumbs/0004417_breakfast-sandwich_415.jpeg title="Show details for Breakfast Sandwich"> </a></div><div class=details><h2 class=product-title><a href=/breakfast-sandwich>Breakfast Sandwich</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$6.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4217/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4218><div class=picture><a href=/sunny-side-breakfast-bowl title="Show details for Sunny Side Breakfast Bowl"> <img alt="Picture of Sunny Side Breakfast Bowl" src=https://cafe.shopfast.net/images/thumbs/0004418_sunny-side-breakfast-bowl_415.jpeg title="Show details for Sunny Side Breakfast Bowl"> </a></div><div class=details><h2 class=product-title><a href=/sunny-side-breakfast-bowl>Sunny Side Breakfast Bowl</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$6.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4218/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4219><div class=picture><a href=/organic-steel-cut-oatmeal title="Show details for Organic Steel-Cut Oatmeal"> <img alt="Picture of Organic Steel-Cut Oatmeal" src=https://cafe.shopfast.net/images/thumbs/0004451_organic-steel-cut-oatmeal_415.jpeg title="Show details for Organic Steel-Cut Oatmeal"> </a></div><div class=details><h2 class=product-title><a href=/organic-steel-cut-oatmeal>Organic Steel-Cut Oatmeal</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$6.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4219/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4238><div class=picture><a href=/dragon-fruit-smoothie-bowl title="Show details for Dragon Fruit Smoothie Bowl"> <img alt="Picture of Dragon Fruit Smoothie Bowl" src=https://cafe.shopfast.net/images/thumbs/0004438_dragon-fruit-smoothie-bowl_415.jpeg title="Show details for Dragon Fruit Smoothie Bowl"> </a></div><div class=details><h2 class=product-title><a href=/dragon-fruit-smoothie-bowl>Dragon Fruit Smoothie Bowl</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$7.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4238/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4239><div class=picture><a href=/granola-parfait title="Show details for Granola Parfait"> <img alt="Picture of Granola Parfait" src=https://cafe.shopfast.net/images/thumbs/0004453_granola-parfait_415.jpeg title="Show details for Granola Parfait"> </a></div><div class=details><h2 class=product-title><a href=/granola-parfait>Granola Parfait</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$8.00</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4239/1/1&#34;),!1"></div></div></div></div></div><div class=item-box><div class=product-item data-productid=4240><div class=picture><a href=/organic-steel-cut-oatmeal-2 title="Show details for Organic Steel-Cut Oatmeal"> <img alt="Picture of Organic Steel-Cut Oatmeal" src=https://cafe.shopfast.net/images/thumbs/0004440_organic-steel-cut-oatmeal_415.jpeg title="Show details for Organic Steel-Cut Oatmeal"> </a></div><div class=details><h2 class=product-title><a href=/organic-steel-cut-oatmeal-2>Organic Steel-Cut Oatmeal</a></h2><div class=description></div><div class=add-info><div class=prices><span class="price actual-price">$7.99</span></div><div class=buttons><input type=button value="Add to cart" class="button-2 product-box-add-to-cart-button" onclick="return AjaxCart.addproducttocart_catalog(&#34;/addproducttocart/catalog/4240/1/1&#34;),!1"></div></div></div></div></div></div></div><div class=pager><ul><li class=current-page><span>1</span><li class=individual-page><a href="https://cafe.shopfast.net/breakfast-brunch?pagenumber=2">2</a><li class=next-page><a href="https://cafe.shopfast.net/breakfast-brunch?pagenumber=2">Next</a></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class=footer>
                <div class=footer-upper><div class="footer-block information"><div class=title><strong>Information</strong></div><ul class=list><li><a href=/dmca-notice>DMCA Notice</a><li><a href=/terms-of-service>Terms Of Service</a><li><a href=/privacyinfo>Privacy policy</a><li><a href=/contactus>Contact us</a></ul></div><div class="footer-block customer-service"><div class=title><strong>User service</strong></div><ul class=list><li><a href=/search>Search</a></ul></div><div class="footer-block my-account"><div class=title><strong>My account</strong></div><ul class=list><li><a href=/customer/info>My account</a><li><a href=/order/history>Orders</a><li><a href=/customer/addresses>Addresses</a><li><a href=/cart>Shopping cart</a></ul></div><div class="footer-block follow-us"><div class=social><div class=title><strong>Follow us</strong></div><ul class=networks><li class=facebook><a href="https://www.facebook.com/Shopfast-149763908384528/" target=_blank>Facebook</a><li class=twitter><a href=https://twitter.com/shopfast target=_blank>Twitter</a></ul></div></div></div><div class=footer-lower>
                    <div class=footer-info><span class=footer-disclaimer>Copyright &copy; 2023 CAFE BARBERO. All rights reserved.</span></div><div class=footer-powered-by>
                        Powered by <a target=_blank href="https://shopfast.com/">ShopFast</a>
                    </div>
                </div>
            </div>
        </div>
        <script src=/bundles/9xwqo2cd-vv0ehz4wysrw5d-ck5umvdmfi02qwx3h-s.min.js></script>
        <script>
            $(document).ready(function () {
                $(".header").on("mouseenter", "#topcartlink", function () {
                    $("#flyout-cart").addClass("active")
                }); $(".header").on("mouseleave", "#topcartlink", function () {
                    $("#flyout-cart").removeClass("active")
                });
                $(".header").on("mouseenter", "#flyout-cart", function () {

                    $("#flyout-cart").addClass("active")
                }); $(".header").on("mouseleave", "#flyout-cart", function () { $("#flyout-cart").removeClass("active") })
            })</script>
        <script>
            $("#small-search-box-form").on("submit", function (n) {
                $("#small-searchterms").val() == "" && (alert("Please enter some search keyword"),
                    $("#small-searchterms").focus(), n.preventDefault())
            })</script>
        <script>var localized_data = { AjaxCartFailure: "Failed to add the product. Please refresh the page and try one more time." }; AjaxCart.init(!1, ".header-links .cart-qty", ".header-links .wishlist-qty", "#flyout-cart", localized_data)</script>
        <script>
            $(document).ready(function () {
                $(".menu-toggle").on("click", function () {
                    $(this).siblings(".top-menu.mobile").slideToggle("slow")
                });
                $(".top-menu.mobile .sublist-toggle").on("click", function () {
                    $(this).siblings(".sublist").slideToggle("slow")
                })
            })</script>
        <script>
            $(document).ready(function () {
                $(".footer-block .title").on("click", function () { var n = window, t = "inner", i; "innerWidth" in window || (t = "client", n = document.documentElement || document.body); i = { width: n[t + "Width"], height: n[t + "Height"] }; i.width < 769 && $(this).siblings(".list").slideToggle("slow") })
            })</script>
        <script>$(document).ready(function () { 
            $(".block .title").on("click", function () { var n = window, t = "inner", i; "innerWidth" in window || (t = "client", n = document.documentElement || document.body); i = { width: n[t + "Width"], height: n[t + "Height"] }; i.width < 1001 && $(this).siblings(".listbox").slideToggle("slow") }) })</script>
*@